/* estilos predeterminados de PrimeReact */
html {
  font-size: 14px;
}

body { 
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  margin: 0%;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pedidos-container {
  margin-bottom: 10rem;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh; 
}